<launch>
  <arg name="vehicle" default="$(optenv RIS_VEHICLE_NAME danaus06)"/>
  <arg name="config_pkg" default="$(find vehicle_configs)"/>
  <arg name="odom_topic" default="odom"/>

  <arg name="serial_param_file" default="$(arg config_pkg)/$(arg vehicle)/serial_radio.yaml"/>

  <group ns="$(arg vehicle)">
    <node pkg="simple_serial"
      name="px4"
      type="simple_serial"
      output="screen"
      clear_params="true">
      <rosparam file="$(arg serial_param_file)"/>
      <remap from="~odom" to="vicon_odom"/>
    </node>
  </group>
</launch>
